html {
    margin: 0;
}

body {
    background-color: #f2f2f2;
    margin: 0;
}

header {
    position: relative;
}

header h1 {
    display: inline;
}

header h1 a {
    color: #323330;
    font-weight: 500;
}

header nav {
    display: none;
}

header nav.active,
header nav a {
    display: block;
}

#link-menu-mobile {
    position: absolute;
    right: 0;
    top: 0;
}

#account a {
    display: inline-block;
    margin: 0;
}

.btn-small {
    padding: .5em;
}

.c {
    background-color: #fff;
}

#newslist article {
    border: 1px dashed transparent;
}

#newslist article.active {
    border: 1px dashed var(--primary-color);
}

#content article a,
#content article address,
#content article h3 {
    display: inline;
}

#content article a::after,
#content article address::after,
#content article h3::after {
    content: ' ';
}

article .uparrow.disabled,
article .downarrow.disabled {
    visibility: hidden;
}

article .uparrow.voted {
    color: #99dd99;
}

article .downarrow.voted {
    color: #dd9999;
}

article.comment .avatar img,
.userinfo .avatar img {
    vertical-align: bottom;
}

article.comment .info {
    display: inline-block;
    margin-left: .5em;
}
.userinfo h2 {
    display: inline;
    margin-left: .5em;
}

footer {
    text-align: center;
}

@media(min-width:35em) {
    html, body {
        margin: .5em 0;
    }
    header nav {
        display: inline;
    }
    header nav a {
        display: inline;
        margin-left: 1em;
    }
    header.row {
        border-spacing: 0;
    }
    #account {
        text-align: right;
    }
    #link-menu-mobile {
        display: none;
    }
    #newslist article {
        display: table;
        border-spacing: 1em 0;
    }
}