html {
    margin: 0;
}

body {
    background-color: #f2f2f2;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

blockquote {
    border-left: solid var(--light);
    padding: 0 1em;
}

header {
    position: relative;
}

header h1 {
    display: inline;
}

header h1 a {
    color: #323330;
}

header nav {
    display: none;
}

header nav.active,
header nav a {
    display: block;
}

header nav.language a {
    display: inline;
}

#link-menu-mobile {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 3em;
}

#account a {
    display: inline-block;
    margin: 0;
}

.btn-small {
    padding: .5em;
}

.c {
    background-color: #fff;
}

#newslist .news {
    border: 1px dashed transparent;
}

#newslist .news.active {
    border: 1px dashed var(--primary-color);
}

.news a,
.news address,
.news h3 {
    display: inline;
}

.news a::after,
.news address::after,
.news h3::after {
    content: ' ';
}

.news .uparrow.disabled,
.news .downarrow.disabled {
    visibility: hidden;
}

.news .uparrow.voted {
    color: #99dd99;
}

.news .downarrow.voted {
    color: #dd9999;
}

.comment > pre {
    white-space: normal;
}

.comment > pre > blockquote {
    margin: 0;
}

.comment > pre > p > code {
    background-color: var(--light);
}

.comment .avatar img,
.userinfo .avatar img {
    vertical-align: bottom;
}

.comment .info {
    display: inline-block;
    margin-left: .5em;
}

.userinfo h2 {
    display: inline;
    margin-left: .5em;
}

footer {
    text-align: center;
}

.keyboard-help-banner {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 12em;
    color: #FFFFFF;
    margin: 0;
    padding: 1em 0 0;
    position: fixed;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.banner-foreground {
    text-shadow: 1px 1px 7px #000000;
    z-index: 1002;
}

.banner-background {
    background: none repeat scroll 0 0 #000000;
    /*border-radius: 10px 10px 10px 10px;*/
    opacity: 0.8;
    overflow: auto;
    z-index: 1001;
}

.banner .primary-message, .banner .secondary-message {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
}

.banner .primary-message {
    font-size: 200%;
}

.banner .secondary-message {
    border-top: 1px solid #999999;
    font-size: 150%;
    padding-top: 0.5em;
    margin: 0;
}

.secondary-message > p {
    margin: 0;
}

#keyboard-help .key {
    font-weight: bold;
    padding-right: 0.25em;
    text-align: right;
    white-space: nowrap;
    width: 50%;
    clear: left;
}

#keyboard-help .desc {
    font-weight: normal;
    text-align: left;
}

@media(min-width:35em) {
    html, body {
        margin: .5em 0;
    }
    header nav {
        display: inline;
    }
    header nav a {
        display: inline;
        margin-left: 1em;
    }
    header .language a:last-child {
        margin-left: 0;
    }
    header.row {
        border-spacing: 0;
    }
    #account {
        text-align: right;
    }
    #link-menu-mobile {
        display: none;
    }
    #newslist article {
        display: table;
        border-spacing: 1em 0;
    }
}
